@import '../../../app/Variables/Colors/colors.module.scss';
@import '../../../app/Variables/Fonts/fonts.module.scss';

.addResidentContainer{
    border: 1px solid $borderGrey;
    border-radius: 8px;
    display: flex;
    min-height: 60px;
    font-family: $montserrat;
    font-size: 12px;
    justify-content: space-between;
    margin-top: 15px;
    padding: 5px;
    width: 100%;

    &__inputConteiner{
        display: flex;
        gap: 26px;
    }

    &__eliminarContainer{
        display: flex;
        justify-content: flex-end;
    }

    &__space {
        margin-left: 10px;
    }

    &__inputs{
        display: flex;
        flex-direction: column;
        width: 89%;
    }

}

@media (max-width: 1060px) {
    .addResidentContainer{

        &__inputConteiner{
            display: flex;
            flex-direction: column;
            gap: 1px;
        }
        
    }
}



