
$green: #53b953;
$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;
$white: #ffffff;
$lightGreen: #86e686;
$lightGrey: #f6f6f6;
$borderGrey: #3b3b3b38;
$iconGrey: #3b3b3bc9;
$notBlack: #505050;
$notLightBlack: #656565;
$borderNotBlack: #444444;

