
$green: #53b953;
$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;
$disable: #d3d3d3;
$white: #ffffff;
$lightGreen: #86e686;
$lightGrey: #f6f6f6;
$borderGrey: #3b3b3b38;
$iconGrey: #3b3b3bc9;
$notBlack: #505050;
$notLightBlack: #656565;
$borderNotBlack: #444444;

//Paleta de colores
$orange-bold: #e49506;
$orange-hover: #cf8700;
$orange-light: #e1d8b1;
$green-bold: #084c1c;
$green-medium: #568871;
$green-light: #acd3bc;
$green-hover: #3f6e58;
