.homeContainer {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden; 

    &__leftSide{
      height: 100%;
      width: 30%;
    }

    &__rightSide{
      height: 100%;
      width: 70%;
    }
  }