@import '../../../app/Variables/Colors/colors.module.scss';

.ABMContainer {
    background-color: $white;
    border-radius: 18px;
    box-shadow: var(--boxShadow);
    height: 90vh;
    padding: 25px 20px;
    width: 700px;

    &__childContainer {
        display: flex;
        flex-direction: column;
        padding: 15px;
        height: 95%;
        width: 100%;
    }

    @media (max-width: 700px) {
        min-height: 90vh;
        width: 100%;
        margin: 0px 10px;
    }
}