@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;900&display=swap%27');

$montserrat: 'Montserrat', sans-serif;

$thin-montserrat-weight: 100;
$light-montserrat-weight: 300;
$regular-montserrat-weight: 400;
$medium-montserrat-weight: 500;
$semibold-montserrat-weight: 600;
$bold-montserrat-weight: 700;
$black-montserrat-weight: 900;