@import '../../../app/Variables/Colors/colors.module.scss';

.ABMContainer {
    background-color: #ffffff;
    border-radius: 18px;
    box-shadow: var(--boxShadow);
    height: 80vh;
    padding: 25px 20px;
    width: 700px;

    &__childContainer {
        display: flex;
        flex-direction: column;
        padding: 15px;
        height: 100%;
        width: 100%;
    }

    @media (max-width: 700px) {
        margin: 10px 10px;
        width: 100%;
    }
}

@media (max-width: 700px) {
    .ABMContainer {
        height: 70vh;
        overflow: hidden;
        width: 93%;

        &__childContainer {
            height: 95%;
        }
    }
}
