@import '../../../app/Variables/Colors/colors.module.scss';

.ABMContainer {
    background-color: #ffffff;
    border-radius: 18px;
    box-shadow: var(--boxShadow);
    height: 80vh;
    padding: 25px 20px;
    width: 700px;

    &__title {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #58a12638;
    }

    &__homeIcon {
        font-size: 40px;

        &:hover {
            color: $green;
            transition: 0.5s;
        }
    }
    
    &__childContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px;
        height: 96%;
        width: 100%;
    }

    @media (max-width: 700px) {
        margin: 10px 10px;
        width: 100%;
    }
}

@media (max-width: 700px) {
    .ABMContainer {
        height: 70vh;
        overflow: hidden;
        width: 93%;

        &__childContainer {
            height: 95%;
        }
    }
}
