@import '../../../app/Variables/Colors/colors.module.scss';

.ABMContainer {
    background-color: #ffffff;
    border-radius: 18px;
    box-shadow: 0px 3px 5px 5px rgb(0 0 0 / 17%);
    height: 684px;
    width: 795px;

    &__title {
        background-color: #568871;
        border-radius: 16px 16px 0px 0px;
        display: flex;
        justify-content: space-between;
        padding: 20px 20px;
    }

    &__homeIcon {
        cursor: pointer;
        font-size: 40px;
        
        &:hover {
            color: $green;
            transition: 0.5s;
        }
    }
    
    &__childContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 96%;
        width: 100%;
    }

    @media (max-width: 700px) {
        margin: 10px 10px;
        width: 100%;
    }
}

@media (max-width: 1060px) {
    .ABMContainer {
        height: 563px;
        overflow: hidden;
        width: 96%;
        
        &__childContainer {
            height: 95%;
        }

        &__title {
            padding: 11px 11px;
        }
    } 
}


