.loaderContainer{
    display: flex;
    height: 100%;
    width: 100%;

    &__loader{
        background-image: url('../../../../public/Assets/Spinner-1s-200px.svg');
        height: 100%;
        object-fit: cover;
        background-repeat: no-repeat; 
        background-attachment: fixed;
        background-position: center;
        width: 100%;
    }
}
