@import '../../../app/Variables/Colors/colors.module.scss';
@import '../../../app/Variables/Fonts/fonts.module.scss';

.tableContainer{
    height: 100%;

    &__tableHeader {
        background-color: $lightGrey;
        border: 1px solid $borderGrey;
        border-radius: 5px;
        color: $iconGrey;
        display: flex;
        font-family: $montserrat;
        justify-content: space-between;
        margin-top: 3px;
        padding: 5px 15px;
        width: 100%;
    }

    &__tableBody{
        display: flex;
        flex-direction: column;
        font-family: $montserrat;
        height: 90%;
        justify-content: flex-start;
        overflow-y: auto;
        padding: 5px 15px;
    }

    &__tableItem{
        align-items: center;
        border-bottom: 1px solid #58a12638;
        display: flex;
        font-size: 15px;
        justify-content: space-between;
        padding: 11px 0px;
    }

    &__tableColumns{
        display: flex;
        width: 25%;
    }
}