@import '../../../app/Variables/Colors/colors.module.scss';
@import '../../../app/Variables/Fonts/fonts.module.scss';

.tableContainer{
    border: 1px solid $orange-bold;
    border-radius: 8px;
    min-height: 50px;
    max-height: 568px;
    overflow: hidden;

    &__tableHeader {
        background-color: $orange-bold;
        border-radius: 6px 6px 0px 0px;
        color: white;
        display: flex;
        font-family: $montserrat;
        justify-content: space-between;
        padding: 5px 15px;
        width: 100%;
    }

    &__tableBody{
        display: flex;
        flex-direction: column;
        font-family: "Montserrat", sans-serif;
        height: 46%;
        justify-content: flex-start;
        overflow: hidden;
        max-height: 501px;
        overflow-y: auto;
        scrollbar-gutter: auto;
    }

    &__tableItem{
        align-items: center;
        display: flex;
        font-size: 15px;
        justify-content: space-between;
        padding: 11px 10px;
        width: 100%;
       
        &__pair{
            align-items: center;
            background-color: $orange-light;
            display: flex;
            justify-content: space-between;
            padding: 11px 10px;
        }
    }

    &__tableColumns{
        display: flex;
        width: 25%;
    }
}

@media (max-width: 1060px) {
    .tableContainer{
        max-height: 416px;

        &__tableHeader {
            width: 100%;
        }

        &__tableBody{
            max-height: 385px;
        }

        &__tableColumns{
            display: flex;
            width: 50%;
        }

        &__tableItem{
            width: 100%;
        }
    }
}