@import '../Variables/Colors/colors.module.scss';
@import '../Variables/Fonts/fonts.module.scss';

.registrarEstadiaContainer{
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    justify-content: space-between;

        &__discountsContainer{
            align-items: center;
            display: flex;

            span {
                margin-right: 5px;
            }
        }
    
        &__buttonsContainer{
            display: flex;
            justify-content: space-between;
        }

        &__section{
            display: flex;
            flex-direction: column;
            width: 100%;

            &__inputs{
                display: flex;
                justify-content: space-between;
            }

        }

        &__sectionTotal{
            align-items: center;
            background-color: $lightGrey;
            border: 1px solid $borderGrey;
            border-radius: 8px;
            display: flex;
            font-family: $montserrat;
            justify-content: space-between;
            padding: 10px 5px;
        }
        
        &__spaceButton{
            margin: 0px 10px;
        }  
            
}


@media (max-width: 700px) {
    .registrarEstadiaContainer{

        &__buttonsContainer{
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-top: 10px;
        }
        
        &__section{
            display: flex;
            width: 100%;
            padding: 10px 3px;

            &__inputs{
                display: flex;
                flex-direction: column;
            }

            &__vehiculos {
                max-height: 80px;
            }
        }       
    }
}

