@import '../../../app/Variables/Colors/colors.module.scss';
@import '../../../app/Variables/Fonts/fonts.module.scss';

.buttonIconContainer {
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    font-size: 13px;
    justify-content: center;
    margin-top: 5px;
    margin-right: 5px;
    padding: 3px 4px;

    &-info {
        background-color: $orange-bold;
        color: white;

        &:hover {
            background-color: $orange-hover;
            color: white;
        }
    }

    &-danger {
        background-color: $green-medium;
        color: white;

        &:hover {
            background-color: $green-hover;
            color: white;
        }
    }

    &-secondary {
        border: 1px solid $secondary;
        color: $secondary;

        &:hover {
            background-color: $secondary;
            color: white;
        }
    }
}

