@import '../../../app/Variables/Colors/colors.module.scss';
@import '../../../app/Variables/Fonts/fonts.module.scss';

.containerButton {
    align-items: center;
    display: flex;
    margin-top: 4px;

    &__button {
        align-items: center;
        background-color: $lightGrey;
        border: 1px solid $borderGrey;
        border-radius: 90px;
        color: $borderGrey;
        cursor: pointer;
        display: flex;
        font-size: 14px;
        margin-left: 3px;
        padding: 3px;

        &:hover {
            border: 1px solid $green;
            color: $green;
        }
    }
}