@import '../../../app/Variables/Colors/colors.module.scss';
@import '../../../app/Variables/Fonts/fonts.module.scss';

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.button {
    align-items: center;
    border: 1px solid $borderGrey;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    height: 30px;
    justify-content: center;
    margin-top: 5px;
    padding: 0px 5px;
    width: 300px;

    &-primary {
        border: 1px solid $green;
        color: $green;

        &:hover {
            background-color: $green;
            color: white;
        }
    }

    &-secondary {
        border: 1px solid $secondary;
        color: $secondary;

        &:hover {
            background-color: $secondary;
            color: white;
        }
    }

    &-danger {
        border: 1px solid $danger;
        color: $danger;

        &:hover {
            background-color: $danger;
            color: white;
        }
    }

    &-disable {
        color: white;
        background-color: $disable;
    }

        &-loading {
            animation: spin 1s linear infinite;
        }

    &__text {
        font-family: $montserrat;
        font-size: 14px;
        font-weight: $regular-montserrat-weight;
    }
}

.-fullWidth {
    width: 100%;
}