
.estadiaSummary{
    font-family: "Montserrat", sans-serif;
    height: 573px;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-gutter: auto;

    &__title, &__title2 {
        border-bottom: 1px solid rgba(145, 145, 145, 0.281);
        display: flex;
        font-size: 15px;
        background-color: #568871;
        padding: 10px;
        
        color: white;
        justify-content: space-between;
    }

    &__title {
        border-radius: 9px 10px 1px 0px;
    }

    &__visitantesContainer {
        display: flex;
        justify-content: space-between;
        padding: 5px 17px;
    }

    &__visitantesContainer:hover{
        background-color: rgba(192, 192, 192, 0.637);
        cursor: pointer;
    }

    &__visitantes{
        align-items: center;
        display: flex;
        gap: 8px;
    }

    &__descuentos{
        color: #00000094;
        font-size: 13px;
    }

    &__priceContainer{
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
        padding: 10px 10px;
    }

    &__price{
        font-size: 20px;
        width: 100px;
    }

    &__advertise{
        color: rgba(84, 84, 84, 0.7);
        padding: 5px 17px;
    }

    &__payTypeContainer{
        width: 100%;
    }

}