.onlyOneDatStay {
    font-family: "Montserrat", sans-serif;

    &__title {
        border-bottom: 1px solid rgba(145, 145, 145, 0.281);
        font-size: 15px;
        padding-bottom: 3px;
    }

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__firstGroupInput {
        border-bottom: none;
        display: flex;
        gap: 29px;
        margin-top: 5px;
        justify-content: center;
    }

    &__buttonContainer {
        margin-top: 20px;
        display: flex;
    }

    &__priceContainer {
        display: flex;
        justify-content: flex-end;
    }

    &__price {
        font-size: 20px;
    }

    &__title {
        border-bottom: 1px solid rgba(145, 145, 145, 0.281);
        font-size: 15px;
        background-color: #568871;
        padding: 10px;
        border-radius: 9px 10px 10px 10px;
        color: white;
    }

    &__containerPrice {
        margin-top: 20px;
    }  
    
    &__inputDiscounts{
        padding: 16px 21px;
    }
}