@import '../../../app/Variables/Colors/colors.module.scss';

.registrarEstadiaContainer{
    background-color: $white;
    border-radius: 18px;
    box-shadow: var(--boxShadow);
    min-height: 85vh;
    padding: 25px 20px;
    width: 700px;

    &__formContainer {
        display: flex;
        flex-direction: column;
        padding: 15px;

        &__section{
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 10px 3px;

            &__vehiculos {
                min-height: 0px;
                max-height: 250px;
                overflow-y: auto;
                padding: 5px;
            }

            &__inputs{
                display: flex;
                justify-content: space-between;
            }
            
        }
    }
}