
.addVisitors{
    font-family: "Montserrat", sans-serif;

    &__title {
        border-bottom: 1px solid rgba(145, 145, 145, 0.281);
        font-size: 15px;
        padding-bottom: 3px;
    }

    &__firstGroupInput{
        border-bottom: none;
        display: flex;
        gap: 15px;
        margin-top: 5px;
    }

    &__addVisitor{
        margin: 10px 0px;
        padding-left: 2px;
    }

    &__visitorList{
        height: 471px;
        overflow: hidden;
        overflow-y: auto;
    }
}